/* Banner Start */

#Banner {
    padding-bottom: 128px;
    background-color: #1C1E53;
}

.banner_text h2 {
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
.banner_text p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.479);
    font-family: "Poppins", sans-serif;
    padding-top: 32px;
}
.banner_text a {
    padding: 16px 56px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.829);
    transition: .4s;
    border: 1px solid #FCD980;
    margin-top: 32px;
}
.banner_text a:hover {
    background-color: #FCD980;
    color: #1B1C2B;
    
}
/* Banner End */
